<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>boolzapp</title>
</head>
<body>
    
    <!-- sfondo -->
    <div id="green-slide">
        <!-- messaggi -->
        <div id="container-messages">
            <!-- aside -->
            <aside>
                <!-- nome utente -->
                <div class="username">
                    <div class="user">
                        <div class="img-user">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <h1>Nome Utente</h1>
                        </div>
                    </div>
                    
                    <!-- icone di fianco all'utente -->
                    <div id="option">
                        <span>  <i class="fas fa-circle-notch"></i></span>
                        <span> <i class="fas fa-comment-alt"></i></span>
                        <span> <i class="fas fa-ellipsis-v"></i></span> 
                    </div>
                    
                </div>

                <!-- attiva notifiche -->
                <div id="notifications">
                    <div id="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div id="notif-text">
                        <h2>
                            Ricevi notifiche di nuovi messaggi
                        </h2>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- barra di ricerca contatti -->
                <div class="search">
                    <div class="box-search">

                        <div class="search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        
                        <input type="text" placeholder="cerca o inizia una nuova chat" id="search-inp">
                    </div>
                </div>
                <!-- chat -->
                <div id="people">
                    <div class="box-chat" v-for="contact , i in contacts" :key="i" :class="i === activeChat ? 'active' : '' " @click="newChat(i)">
                        <div class="img-avatar">
                            <img :src="contact.avatar" :alt="contact.name">
                        </div>
                        <div class="text">
                            <h1>{{contact.name}}</h1>
                            <p>{{contact.messages[contact.messages.length -1].text}}</p>
                        </div>

                        <div class="dataContact">
                            <p>{{contact.messages[contact.messages.length -1].date}}</p>
                        </div>
                    </div>
                </div>
                
            </aside>

            <!-- main -->
            <main>
                <!-- nome amico -->
                <div class="username">
                    <div class="friend-chat">
                        <div class="img-friend" class="active">
                            <img :src="contacts[activeChat].avatar" alt="">
                        </div>
                        <div class="name-friend">
                            <h1>{{contacts[activeChat].name}}</h1>
                            <p>Ultimo accesso alle: BOOOOH</p>
                        </div>
                    </div>

                    <!-- icone a fianco dell'amico -->
                    <div id="chat-option">
                        <span>  <i class="fas fa-search"></i></span>
                        <span> <i class="fas fa-paperclip"></i></span>
                        <span> <i class="fas fa-ellipsis-v"></i></span> 
                    </div>
                </div>

                <!-- chat -->
                <div class="chat-friend">

                    <div id="container-chat">
                        
                        <div  v-for="message, i in contacts[activeChat].messages" :key="i">

                            <div :class="message.status === 'sent' ? 'sentMess' : 'receivedMess' ">
                                <p>{{message.text}}</p>
                                <article class="data">{{message.date}}</article>
                            </div>
                            
                        </div>
                    


                    </div>

                    <!-- parte inferirore della chat con emoji e input -->
                    <div id="input-message">
                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>

                        <div id="enter-text">
                            <input type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div class="emoji">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>

                
            </main>

        </div>
    </div>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>