<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>boolzapp</title>
</head>
<body>
    
    <!-- sfondo -->
    <div id="green-slide">
        <!-- messaggi -->
        <div id="container-messages">
            <!-- aside -->
            <aside>
                <div class="username">
                    <div class="user">
                        <div class="img-user">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <h1>Nome Utente</h1>
                        </div>
                    </div>
                    
                    <div id="option">
                        <span>  <i class="fas fa-circle-notch"></i></span>
                        <span> <i class="fas fa-comment-alt"></i></span>
                        <span> <i class="fas fa-ellipsis-v"></i></span> 
                    </div>
                    
                </div>

                <div id="notifications">
                    <div id="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div id="notif-text">
                        <h2>
                            Ricevi notifiche di nuovi messaggi
                        </h2>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="search">
                    <div class="box-search">

                        <div class="search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        
                        <input type="text" placeholder="cerca o inizia una nuova chat" id="search-inp">
                    </div>
                </div>
                <!-- chat -->
                <div id="people">
                    <div class="box-chat" v-for="(contact , i) in contacts" :key="i" :class="i === activeChat ? 'active' : '' " @click="newChat">
                        <div class="img-avatar">
                            <img :src="contact.avatar" :alt="contact.name">
                        </div>
                        <div class="text">
                            <h1>{{contact.name}}</h1>
                            <p>text</p>
                        </div>
                    </div>
                </div>
                
            </aside>

            <!-- main -->
            <main>
                <div class="username">
                    <div class="friend-chat">
                        <div class="img-friend">
                            <img src="img/avatar_1.jpg" alt="">
                        </div>
                        <div class="name-friend">
                            <h1>Michele</h1>
                            <p>Ultimo accesso</p>
                        </div>
                    </div>

                    <div id="chat-option">
                        <span>  <i class="fas fa-search"></i></span>
                        <span> <i class="fas fa-paperclip"></i></span>
                        <span> <i class="fas fa-ellipsis-v"></i></span> 
                    </div>
                </div>

                <div class="chat-friend">

                    <div id="container-chat">
                        
                        <div  v-for="message, i in contacts.messages" :key="i" :class="message.status === 'sent' ? 'sent' : 'received' ">
                            <p>{{message.text}}</p>
                            <article class="data">{{messages.date}}</article>
                        </div>
                    


                    </div>


                    <div id="input-message">
                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>

                        <div id="enter-text">
                            <input type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div class="emoji">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>

                
            </main>

        </div>
    </div>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>